body{
    font-family: 'Special Elite', cursive;
    background-color: 	#FFB6C1;
}

.header_div{
    background-color: white;
    color: rgb(235, 19, 62);
}

.header_div p {
    font-family: 'Roboto' , sans-serif;
    color: darkgray;
    letter-spacing: 2px;  
    font-size: 12px;
    font-weight: bold;  
}

.main_div button{
    font-family: 'Roboto' , sans-serif ;
    margin-top: 30px;
    width: 130px;
    font-weight:bolder ;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(11, 99, 80);
    color: lightskyblue;
    text-align: center;
    font-size: 18px;
    line-height: 3;
    text-shadow: 5px 5px 5px rgb(9, 72, 102);
}